body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

#grid {
  width: 50vw;
  height: 50vw;
  border: thick solid black;
}

button {
  background: transparent;
  border: none !important;
  font-size: 0;
  width: 100%;
  height: 100%;
}

.square {
  margin: 0%;
  aspect-ratio: 1;
}
