body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

#grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: thick solid black;
}

.square {
  aspect-ratio: 1fr;
}
